version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: coursesManagement_db
    ports:
      - "5438:5432"
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
