spring:
  datasource:
    url: jdbc:postgresql://localhost:5438/app_db
    username: app
    password: ${DB_PASSWORD:app}

  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true

  flyway:
    enabled: true

logging:
  level:
    org.flywaydb: DEBUG

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    url: /openapi.yaml
